<h1>Your Notes</h1>

<%= link_to "Create New Note", new_note_path %>
<%= link_to "Logout", logout_path, method: :delete %>

<ul>
  <% @notes.each do |note| %>
    <li><strong><%= note.title %></strong>: <%= note.message %></li>
  <% end %>
</ul>
